body {
  background-color: #252525;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: grid;
  place-content: center;
}

h1 {
  font-size: 2.5rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

span {
  animation: flow 5s ease-in-out infinite;
  background: linear-gradient(60deg, #c6cf11, #0fdf12, #10e0e0, #dc2c15, #7016ac);
  background-size: 300%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes flow {
  0% {
    background-position: 0 50%
  }

  25% {
    background-position: 25 50%;
  }
  
  50% {
    background-position: 50% 100%
  }
  
  75% {
    background-position: 75 100%;
  
  }
  100% {
    background-position: 100 0%
  }






}


@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}